#navigation {
    background: transparent;
    cursor: default;
    position: absolute;
    border-bottom: solid 1px _palette(border);
    height: 3em;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
}
.logo h3 {
    position: absolute;
    color: _palette(fg-alt);
    left: 1em;
    top: 0;
    line-height: 3em;
}
.list {
    position: absolute;
    right: 1em;
    top: 0;
    line-height: 3em;
}

.list ul li {
    display: inline-block;
    margin-left: 1em;
}

.list ul li a {
    text-decoration: none;
    display: block;
    padding: 0 0.5em;
}

.list ul li:first-child {
    margin-left: 0;
}

.logo img{
    width: 130px;
}

.logo {
    margin-left: 20px;
}