#home {
    height: 100vh;
    display: flex;
    align-items: center;
}

#home video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.home_video-overlay {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

.home_text-box {
    color: #f9f7f7;
    width: 60%;
}

.home_text-box h1 {
    color: purple;
    font-family: cursive;
}

.home_text-box h2 {
    padding-bottom: 0.5em;
    border-bottom: solid 3px #fff;
}