#do {
    height: 100vh;
}

.do_boxes {
    display: flex;
    flex-wrap: wrap;
}

.do_box {
    display: flex;
    background-color: #fff;
    margin: 0 0.5em 2.5em 0;
    width: calc(50% - 0.5em);
}

.do_image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    min-height: 12em;
    min-width: 40%;
}

.do_text {
    display: flex;
    justify-content: center;
    align-items: center;
}